<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar">
        <div class="container">
            <div class="nav-brand">
                <a th:href="@{/}" class="brand-link">
                    <img th:src="@{/images/logo.png}" alt="MusicStore Logo" class="brand-logo">
                    <span class="brand-text">MusicStore</span>
                </a>
            </div>
            <ul class="nav-menu">
                <li><a th:href="@{/albums}">Wszystkie albumy</a></li>
                <li><a th:href="@{/albums/new}">Nowości</a></li>
                <li><a th:href="@{/albums/preorders}">Preordery</a></li>
            </ul>
            <div class="nav-cart">
                <a th:href="@{/cart}" class="cart-link">
                    <span class="cart-icon">🛒</span>
                    <span class="cart-count" th:text="${@shoppingCartService.getCartItemCount()}">0</span>
                </a>
            </div>
        </div>
    </nav>
</header>
</body>


</html>